<div class = "timeline_scroll">
  <h3>History</h3>
    <div class = "text_box">
        <nav>
            <div class="timeline_texts">
                <!--{{#each logs as |log|}}

                <h5> {{log.message}} <h5>
                <br>
                <date>

                -->
            </div>
        </nav>
    </div>

<script src="assets/js/timeline.js" defer></script>