<div class = "login_box">
  <h1>Welcome</h1>
  <form class = "loginForm" method = "post">
    <div class = "text_box">
        <input id = "email-login" type = "text"  required>
        <span></span>
        <label>Email</label>
    </div>
      <div class = "text_box">
        <input id = "password-login" type = "password" required>
        <span></span>
        <label>Password</label>
    </div>
    <input type = "submit" value = "Login">
  </form>
</div>

<script src="assets/js/login.js" defer></script>